* {
  margin: 0;
  padding: 0;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center; 
  font-family: "Ubuntu", sans-serif;
  font-weight: 800;
  font-style: normal;/* Adjusted from align-content */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px;
  background-color: rgb(229, 206, 233);
  margin: 50px auto;
  width: 300px;
  border-radius: 10px;
  border: 2px solid;
}

.task {
  display:flex;
  justify-content: space-between;
  
}

#text {
  border: 2px solid black;
  margin:3px;
  padding-left:12px;
  padding-right:12px;
  padding-top: 3px;
  padding-bottom: 3px;
  height: 20px;
  width:270px;
  cursor: pointer;
  outline: none;
  text-align: left;
  border-radius: 10px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 800;
  font-style: normal;
}

#btn {
  color: white;
  background-color: black;
  padding: 6px;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 800;
  font-style: normal;
  transition: smooth 0.33s;
}

#text:focus {
  border: 2px solid black;
}

#btn:hover {
  background-color: rgb(36, 35, 35);
}

.added {
  width: 100%;   
}

ul li {
  list-style-type: none;
  padding: 0;
  margin-top:3px;
  display: flex;
  font-family: "Ubuntu", sans-serif;
  font-weight: 800;
  font-style: normal;
  
  
}

ul li{
  text-align: left;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  position: relative;
  cursor: pointer;
}

ul li::before {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background-image: url('assets/check-box-empty.png');
  background-position: center;
  background-size: cover;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.cross {
  margin-left: auto; 
  padding: 2px;
  background-image: url('assets/close (1).png');
  background-position: center;
  background-size: cover;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.cross:hover {
  background-color: rgb(118, 113, 113);
}

.checked {
  text-align: left;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  position: relative;
  text-decoration: line-through;
}

.checked::before {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background-image: url('assets/check.png');
  background-position: center;
  background-size: cover;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);

  
}
ul li button
{
  margin-left:96%;
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background-image: url('assets/remove.png');
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  top: 50%;
  transform: translateY(-50%);

}



